<div class="container contSize">
  <div class="rowSize bgGray">       
      <img [src]="dataFish['Species Illustration Photo']?.src" class="imgSize" />
  </div>
  <div class="rowSize">
    <ion-row>
      <ion-col>
        Nome: {{ dataFish['Species Name'] }}
        Descrição: {{ dataFish['Fishing Rate'] }}
      </ion-col>
    </ion-row>
  </div>
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-button type="button" class="btn btn-block btn-info" (click)="fishDetails(dataFish)">Ler Mais</ion-button>
    </ion-col>
  </ion-row>
</div>